// Place your custom variables here
nav.sidebar .svg-inline--fa{
	height:18px;
	width:18px;
}

.sidebar-dropdown .sidebar-dropdown .sidebar-link {
    padding: .625rem 1.5rem .625rem 4.5rem;
}

#top-navbar{
	padding-top: .250rem;
	padding-bottom: .250rem;
}

// --- For the summaries on yii's gridviews
.summary-wrapper .col-auto{
	margin-right:10px;
}

/* This is part of adminkit in the demo but not in their repo for sidebar stuff */
.sidebar [data-bs-toggle=collapse] {
	position: relative
}

.sidebar [data-bs-toggle=collapse]:after {
	content: " ";
	border: solid;
	border-width: 0 .075rem .075rem 0;
	display: inline-block;
	padding: 2px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 1.2rem;
	right: 1.5rem;
	transition: all .2s ease-out
}

.sidebar [aria-expanded=true]:after,
.sidebar [data-bs-toggle=collapse]:not(.collapsed):after {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	top: 1.4rem
}

.sidebar-dropdown [data-bs-toggle=collapse]:after {
	top: 1rem
}

.sidebar-dropdown [aria-expanded=true]:after,
.sidebar-dropdown [data-bs-toggle=collapse]:not(.collapsed):after {
	top: 1.2rem
}

.sidebar-dropdown .sidebar-link {
	padding: .625rem 1.5rem .625rem 3.25rem;
	font-weight: 400;
	font-size: 90%;
	border-left: 0;
	color: #adb5bd;
	background: transparent
}

.sidebar-dropdown .sidebar-link:before {
	content: "→";
	display: inline-block;
	position: relative;
	left: -14px;
	transition: all .1s ease;
	-webkit-transform: translateX(0);
	transform: translateX(0)
}

.sidebar-dropdown .sidebar-item .sidebar-link:hover {
	font-weight: 400;
	border-left: 0;
	color: #e9ecef;
	background: transparent
}

.sidebar-dropdown .sidebar-dropdown .sidebar-link {
	padding: .625rem 1.5rem .625rem 4.5rem
}

.sidebar-dropdown .sidebar-dropdown .sidebar-dropdown .sidebar-link {
	padding: .625rem 1.5rem .625rem 5.75rem
}

.not-set{
color: rgba(255,0,0,.75);	
font-style: italic;
}

/* Admin Form Styles */
.content-box{
	box-shadow: 0px 0px 20px -14px inset;
	padding: 15px;
	border-radius: 8px;
	margin: 0 0 15px 0;

	.redactor-box{
		margin-bottom:0
	}
	> .form-group:last-of-type {
	    margin-bottom: 0 !important;
	}
	.choices{
		margin-bottom: 0;
	}
}

[aria-invalid=true]~.invalid-feedback {
    display: block;
}

.form-label {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}